livekit-agents
livekit-plugins-silero
livekit-plugins-google
livekit-plugins-noise-cancellation
mem0ai
google-genai
ddgs
duckduckgo-search
langchain_community
requests
python-dotenv
pydantic-ai-slim[mcp]
pywinauto
PySide6
spotipy
psutil
mcp>=1.0.0
pywin32
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
yt-dlp
pycaw
